@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* variables///// */
:root{

--blue-color:#244254;
--white-color:white;
--grey-color:grey;
--black-color: black;

/* Tipografia */

--normal:12px;

/* espacios */

--space:10px;

/* Box shadow */

--box: 0 0 1px #cec3c3;


}

/* variables///// */

p, label{
  font-size: var(--normal)
}


html,body {
padding: 0px;
margin: 0px:;
font-size: var(--normal);
font-family: 'Open Sans', sans-serif;
}

nav{
display: flex;
background-color: var(--blue-color);
padding:var(--space);
color: var(--white-color);
justify-content: space-between;
list-style: none;
align-items: center;
}

nav ul{

display: flex;

}

nav li {

  padding-left: var(--space);
  list-style: none;
}

nav li a {

  color: var(--grey-color);
  text-decoration: none;
}
 nav li a:hover {
   color:var(--white-color);
 }

/*-----------------------------------MAIN SECTION*/


.main_section{

padding: 15%;
text-align: center;

}

.products{
  background-image: url("../images/curve.png");
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}


.product {
  padding: var(--space);
  margin-top: -240px;



}


.product .content {
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: var(--box);



}

.image_content{

  text-align: center;
}


.main_button{

  background-color: var(--blue-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 10px;

}

.main_button:hover{
  background-color: #1e75a9;

}

/* ------------------------------------------- Venta */

.modulo_pago{
background-color:var(--white-color);
box-shadow: var(--box);
padding:var(--space);
}

.modulo_pago_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin:auto;
}

.data {

  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

.modulo_pago .main_button {

  margin-top: 10px;
}


/* Beneficios */

.beneficios{
  padding: 10%;
  display: flex;

}

.beneficio{
  text-align: center;
  padding: 20px;

}

.beneficio img{
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
}

/* Mentions */

.mentions{
  display:flex;
  padding: 5%;
}

.mention img {

  width: 100%;
}

.mention{

  text-align: center;
  padding: var(--space)
}

h2.mention_title{
  text-align: center;
}

.content_mention{
  box-shadow: var(--box);
}
.mention .text{
  padding: var(--space);
}

footer
  {
  display: flex;
  background-color: var(--blue-color);
  padding:var(--space);
  color: var(--white-color);
  justify-content: space-between;

  }

  .optioncontact a {
    color: var(--white--color);
  }
