body{
  background-color: var(--blue-color);
  text-align: center;
   display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content_paypal a{
  color: var(--white-color);
}
